.footer {
    background-color: #5f666b;
    background-image: url("/footer-bg.png");
    background-position: right;
    background-size: 40rem;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding-top: 4rem;

    & .footerContact {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 4rem;

        & div:first-child {
            color: #cccbcb;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            line-height: 1.5rem;
    
            & > h1 {
                color: #fff;
            }
    
            & .lastP {
                color: #f3a237;
            }
        }
    
        & div:last-child {
            display: flex;
            flex-direction: column;
            color: #fff;
            line-height: 1.5rem;
        }
    }
    
    & .footerCopy {
        text-align: center;
        color: #cccccc;
        background-color: #7e7e7e;
        height: 100%;
        padding-block: 2rem 5%;
    }
}


@media (max-width: 530px) {
    .footerContact {
        flex-direction: column !important;
        padding-left: 1rem;
        gap: 2rem;
    }
}