.headDiv {
    background-image: url('/contact-iStock.jpg');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: max-content;
    padding-block: 7%;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    & h1,
    h2 {
        text-align: right;
        max-width: 40rem;
        font-weight: bold !important;
        color: #fff;
        font-weight: 100 !important;
    }

    & h1 {
        font-size: 2.5rem;
    }

    & h2 {
        font-size: 1.7rem;
    }
}

.title {
    color: var(--base-color) !important;
    margin-block: 2rem;
    font-size: 3rem;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-block: 3rem;
    gap: 22rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    & input[type="submit"] {
        background-color: rgb(255, 58, 58);
        color: #fff;
        border: none;
        padding: 1rem;

        &:hover {
            background-color: rgb(250, 20, 20);
        }
    }

    & .msg.suc {
        color: green;
    }
    & .msg.err {
        color: red;
    }
}

.footerContact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 4rem;

    & div:first-child {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        line-height: 1.5rem;

        & h1:nth-child(2) {
            font-size: x-large;
        }

        & h1,
        p {
            color: #000;
        }

        & .lastP {
            color: var(--base-color);
        }
    }
}


@media (max-width: 1000px) {
    .main {
        flex-direction: column;
        gap: 1rem;
    }

    .headDiv {
        padding-left: 0;

        & h1, h2 {
            text-align: center;
        }
    }
}