.card {
    display: flex;
    place-items: center;
    flex-direction: column;
    width: 31%;
    height: 20rem;
    border: 2px solid #adadad;
    border-radius: .3rem;
    box-shadow: -6px 7px 14px 0px #bfbfbf;;
    padding: 3rem;
    text-align: center;
    transition: background-color .2s ease-out,
                color .2s ease-out,
                transform .2s ease-out;

    & img {
        transition: inherit;
        filter: var(--img-filter-orange);
    }

    &:hover {
        background-color: var(--base-color);
        color: #fff;
        border: none;
        transform: translateY(-20px);
        
        & img {
            transform: translateY(-20px) scale(1.2);
            filter: invert(100%);
        }
    }

    & img {
        color: #f58b28;
    }

    & h1,h3 {
        cursor: pointer;
    }
}